name: React Template CD
on:
  push:
    branches: [ master ]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: setup git token
        uses: fregante/setup-git-token@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: yarn

      - name: Deploy storybooks and gh-pages
        env:
          DEPLOY_KEY: ${{secrets.ACTIONS_DEPLOY_KEY}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}} 
        run: |
          eval "$(ssh-agent -s)"
          ssh-add - <<< "${DEPLOY_KEY}"
          yarn deploy
