name: React Template CI
on:
  pull_request_target:
    branches:
      - master

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [21.6.2]

    steps:
      - uses: actions/checkout@v2
      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn

      - name: Lint
        run: yarn lint:ci

      - name: Test
        run: yarn test

      - name: Accessibility tests using Storybook
        run: yarn playwright install && yarn test-storybook:ci

      - name: Build
        run: yarn build:prod

      - name: LHCI Benchmark
        run: yarn lhci

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
