name: React Template CI

on:
  push:
    branches-ignore:
      - master
      - develop

jobs:
  build_and_test:
    name: Build & Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: yarn
      env:
        CI: true
    - name: Build
      run: yarn build
      env:
        CI: true
    - name: Lint
      run: yarn lint
      env:
        CI: true
    - name: Test
      run: yarn test
      env:
        CI: true